# Operating System Files  

*.DS_Store
Thumbs.db

# eclipse specific git ignore
*.pydevproject
.metadata
# External tool builders
.externalToolBuilders/
# Locally stored "Eclipse launch configurations"
*.launch


build/
target/
bin/
classes/
.idea/
.vscode

.settings/
.classpath
.project

# Java class files
*.class
/.factorypath
/.springBeans
